@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans-Semibold.woff') format('woff'), url('../fonts/OpenSans-Semibold.ttf')  format('truetype'), url('../fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg'), url('../fonts/OpenSans-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Raleway-Regular.woff') format('woff'), url('../fonts/Raleway-Regular.ttf')  format('truetype'), url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg'), url('../fonts/Raleway-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Raleway-Bold.woff') format('woff'), url('../fonts/Raleway-Bold.ttf')  format('truetype'), url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg'), url('../fonts/Raleway-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Raleway-SemiBold.woff') format('woff'), url('../fonts/Raleway-SemiBold.ttf')  format('truetype'), url('../fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg'), url('../fonts/Raleway-SemiBold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Raleway-Light.woff') format('woff'), url('../fonts/Raleway-Light.ttf')  format('truetype'), url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg'), url('../fonts/Raleway-Light.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}
