@import "reset.css";
@import "fonts.css";

.container {
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}
.clearfix:after {
	content: '';
	overflow: hidden;
	display: block;
	clear: both;
}
header {
	height: 100%;
}

.logo {
	float: left;
	padding-top: 38px;
	display: inline-block;
}
nav {
	float: right;
	padding-top: 43px;
}
nav a{
	display: inline-block;
	margin-right: 60px;
	color: #eee;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Raleway';
	font-weight: 700; 
	font-size: 13px;
}
nav a:last-child {
	margin-right: 0;
}
hr {
	width: 1170px;
	margin: 100px 0 0 0;
	position: absolute;
}
body {
	font-family: 'Raleway';
}
.slider .container {
	border-top: 2px #505268 solid;
}
.slider {
	color: #fff;
	background-image: url('../img/background.jpg');
	background-attachment: fixed;
	height: 100%;
}
.slider h1,
.slider p,
.slider a{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.slider h1,
.slider p {
	margin: 0 auto;
}
.slider h1 {
	font-family: 'OpenSans';
	font-size: 65px;
	font-weight: 600;
	padding-top: 250px;
	text-transform: uppercase;
	line-height: 71px;
	width: 860px;

}
.slider p {
	padding-top: 35px;
	font-family: 'Raleway';
	font-size: 22px;
	font-weight: 400;
	padding-bottom: 76px;
	line-height: 33px;
	width: 917px;
}
.more {
	display: block;
	text-decoration: none;
	color: #fff;
	background-color: #e84545;
	padding: 20px 54px;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	border-radius: 2px;
	margin-bottom: 154px;
	width: 200px;
}
.benefits .container {
	padding-top: 120px;
	padding-bottom: 50px;
}
.benefits div div {
	display: inline-block;
	float: left;
	padding: 0 45px 75px 45px;
	text-align: center;
	font-family: 'Raleway';
	font-size: 14px;
}
.benefits img {
	padding-bottom: 35px;
}
.benefits .icon {
	float: left;
	height: 60px;
	width: 79px;
	background: url('../img/benefits.png');
	padding: 0;
	margin-left: 104px;
}
.responsive .icon {
	background-position: -79px 0;
}
.design .icon {
	background-position: -158px 0;
}
.code .icon {
	background-position: -237px 0;
}
.ship .icon {
	background-position: -316px 0;
}
.download .icon {
	background-position: -395px 0;
}
.benefits h2,
.benefits p {
	margin: 0 auto;
}
.benefits h2 {
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 95px;
	padding-bottom: 24px;
}
.benefits p {
	font-weight: 400;
	line-height: 21px;
	width: 297px;
}
.portfolio {
	padding-bottom: 100px;
}
.portfolio .box {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
.box div{
	float: left;
	width: 25%;
}
.box img {
	float: left;
	width: 100%;
	height: 100%;
}
.red {
	width: 100%;
	height: 100.5%;
	background: #e5514f;
	opacity: 0.9;
	display: none;
	position: absolute;
	z-index: 1;
	font-size: 14px;
	font-family: 'Raleway';
	color: #eee;
	text-align: center;
}
.red h3 {
	font-weight: 700;
	text-transform: uppercase;
	margin: 30% 0 2% 0;
}
.red p {
	font-weight: 400;
}
.portfolio a:hover .red {
	display: block;
}
.team div div {
	float: left;
	margin: 0 30px 83px 0;
}
.team div div:last-child {
	margin-right: 0;
}
.team img {
	padding-bottom: 27px;
}
.team h4 {
	font-size: 22px;
	padding-bottom: 10px;
	color: #2d3033;
	font-weight: 400;
}
.team h5 {
	font-size: 13px;
	color: #e84545;
	padding-bottom: 28px;
	text-transform: uppercase;
	font-weight: 400;
}
.team p {
	font-size: 13px;
	color: #6c7279;
	padding-bottom: 28px;
	width: 270px;
}
.team h4,
.team h5,
.team p {
	margin: 0;
}
.team span {
	float: left;
	width: 40px;
	height: 40px;
	background: url('../img/social.png');
}
.team .social-tw {
	background-position: -40px 0;
}
.team .social-in {
	background-position: -84px 0;
}
.social-tw,
.social-in {
		padding-left: 4px;
}
footer {
	color: #fff;
	font-family: 'Raleway';
	font-size: 14px;
	background-color: #3a3e64;
}
footer .container div {
	display: inline-block;
	float: left;
	padding: 68px 0 85px 0;
	text-align: center;
	width: 390px;
}
footer h3 {
	text-transform: uppercase;
	font-weight: 700;
	padding-bottom: 17px;
}
footer p {
	font-weight: 400;
	line-height: 22.5px;
}
footer h3,
footer p {
	margin: 0;
}
footer div div i {
	color: #fff;
	border: #fff solid 2px;
	border-radius: 2px;
}
footer span {
	float: left;
	width: 40px;
	height: 40px;
	background: url('../img/social.png');
}
footer .social-fb {
	background-position: 0 -40px;
	margin-left: 129px;
}
footer .social-tw {
	background-position: -40px -40px;
}
footer .social-in {
	background-position: -87px -40px;
}
footer .social-tw,
footer .social-in {
		padding-left: 7px;
}
.footer-bottom {
	background: #313454;
	text-align: center;
	color: #808080;
	height: 94px;
}
.footer-bottom p {
	padding: 30px 0;
	font-family: 'OpenSans';
	padding-top: 26px;
}
.footer-bottom i {
	color: #e84545;
}
.footer-bottom a {
	color: #fff;
	text-decoration: none;
}
